{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Magazi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cricket Collectible Marketplace">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="YashitM">

    <title>CryptoCricket</title>

    <link rel="stylesheet" type="text/css" href="{% static "website/revolution/css/settings.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "website/revolution/css/navigation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "website/assets/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "website/assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "website/assets/lib/slick/slick.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "website/assets/lib/slick/slick-theme.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "website/assets/css/responsive.css" %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body data-spy="scroll" data-target="#main-nav" id="page-top">
    <!-- start header-->
    <header id="header" class="style1">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 full-wdth">
                        <div class="magazi_logo">
                            <a href="#">
                                <img src="{% static "website/assets/img/logo.png" %}" alt="magazi-logo" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-4 col-xs-5 halff-wdth">
                        <div class="magazi-main-menu">
                            <ul class="magazi-menu list-none pull-left">
                                <li>
                                    <a href="{% url 'home' %}">Home</a>
                                </li>
                                <li>
                                    <a href="#">Marketplace</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'players' %}" title="">Players</a></li>
                                        <li><a href="{% url 'iccs' %}" title="">ICC</a></li>
                                        <li><a href="{% url 'countries' %}" title="">Countries</a></li>
                                        <li><a href="{% url 'boards' %}" title="">Boards</a></li>
                                        <li><a href="{% url 'tournaments' %}" title="">Tournaments</a></li>
                                        <li><a href="{% url 'owners' %}" title="">Team Owners</a></li>
                                    </ul>
                                </li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="#">{{ user.username }}</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'logout' %}" title="">Logout</a></li>
                                        <li><a href="#" title="">Profile</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                    <li>
                                        <a class="dls" href="{% url 'login' %}">Login</a>
                                    </li>
                                    <li>
                                        <a class="dls" href="{% url 'register' %}">Register</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <ul class="magazi-menu-2 list-none pull-right">
                                <li>
                                    <a href="#" class="search-btnn">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" viewBox="0 0 56.966 56.966" xml:space="preserve" width="21px" height="21px"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23 s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92 c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17 s-17-7.626-17-17S14.61,6,23.984,6z" fill="#bababa"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </a>
                                    <div class="search-boxx">
                                        <form>
                                            <input type="text" name="search" placeholder="Enter your keyword">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-4 col-xs-3 halff-wdth">
                        <div class="magazi_sm-menu">
                            <a href="#" class="menu-btn right">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="24px" height="25px" viewBox="0 0 459 459" xml:space="preserve"><g><g id="menu"><path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z" fill="#bababa"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            </a>
                            <a href="#" class="left-menu-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_2" x="0px" y="0px" width="24px" height="25px" viewBox="0 0 459 459" xml:space="preserve"><g><g id="menu2"><path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z" fill="#bababa"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="magazi-mobil-menu">
            <div class="cl-menu-btn">
                <a href="#" title="" class="close-right-menu"><img src="assets/img/close2.png" alt=""></a>
            </div>
            <ul class="magazi-menu list-none pull-left">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Marketplace</a>
                     <ul class="sub-menu">
                        <<li><a href="{% url 'players' %}" title="">Players</a></li>
                        <li><a href="{% url 'iccs' %}" title="">ICC</a></li>
                        <li><a href="{% url 'countries' %}" title="">Countries</a></li>
                        <li><a href="{% url 'boards' %}" title="">Boards</a></li>
                        <li><a href="{% url 'tournaments' %}" title="">Tournaments</a></li>
                        <li><a href="{% url 'owners' %}" title="">Team Owners</a></li>
                    </ul>
                </li>
                <li class="deall">
                    <a href="#" class="dls">Deal</a>
                    <span class="not">Hot</span>
                </li>
            </ul>
            <div class="magazi-language fst">
                <ul>
                    <li class="active"><a href="#" title="">English</a></li>
                    <li><a href="#" title="">French</a></li>
                    <li><a href="#" title="">Turkish</a></li>
                    <li><a href="#" title="">German</a></li>
                </ul>
            </div><!--magazi-language end-->
            <div class="magazi-language snd padding-bottom-20">
                <ul>
                    <li class="active"><a href="#" title="">GBP</a></li>
                    <li><a href="#" title="">EUR</a></li>
                    <li><a href="#" title="">TRY</a></li>
                    <li><a href="#" title="">DEM</a></li>
                </ul>
            </div><!--magazi-language end-->
        </div><!--magazi-mobile-menu-->
    </header>
    <!-- end header-->

    {% block content %}{% endblock %}

    <!-- start footer-->
    <footer id="footer">
        <div class="footer-widget-container padding-top-100 padding-bottom-75">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 widget">
                        <h3 class="widget-title">Get in Touch</h3>
                        <div class="widgettext">
                            <p><a href="emailto:contact@magazi.com">E: contact@magazi.com</a></p>
                            <p><a href="tel:+000123467890">P: + 000 123 46 7890</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 widget widget-links">
                        <h3 class="widget-title">Useful Links</h3>
                        <div class="widget-links-container">
                            <ul class="widget-links-list list-none">
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="#">Return Policy</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 widget">
                        <h3 class="widget-title">Get Socials</h3>
                        <div class="widgettext">
                           <ul class="magazi-social-icon list-none">
                               <li>
                                   <a href="#">
                                       <i class="fa fa-facebook"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <i class="fa fa-google-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <i class="fa fa-twitter"></i>
                                   </a>
                               </li>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="bottom-inner" />

                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                       <p class="credit_links">Crafted with <i class="fa fa-heart-o" aria-hidden="true"></i> by PSD_Market. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                      <p>
                        We accept&nbsp;
                        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                        <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                        <i class="fa fa-cc-visa" aria-hidden="true"></i>
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer-->

    <div class="magazi-search-page">
        <div class="container">
            <h2>Search Products</h2>
            <form>
                <input type="text" name="search" placeholder="Type something and hit enter">
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" viewBox="0 0 56.966 56.966" xml:space="preserve" width="30px" height="30px"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23 s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92 c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17 s-17-7.626-17-17S14.61,6,23.984,6z" fill="#bababa"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                </button>
            </form>
            <div class="magazi-close-search">
                <img src="assets/img/close.png" alt="">
                <h4>Close</h4>
            </div><!--magazi-close-search end-->
        </div>
    </div><!--magazi-search-page end-->

    <div class="magazi-right-menu right">
        <a href="#" title="" class="close-right-menu"><img src="assets/img/close2.png" alt=""></a>
        <div class="magazi-language margin-bottom-70">
            <h3>Language</h3>
            <ul>
                <li class="active"><a href="#" title="">English</a></li>
                <li><a href="#" title="">French</a></li>
                <li><a href="#" title="">Turkish</a></li>
                <li><a href="#" title="">German</a></li>
            </ul>
        </div><!--magazi-language end-->
        <div class="magazi-language margin-bottom-70">
            <h3>Currency</h3>
            <ul>
                <li class="active"><a href="#" title="">GBP</a></li>
                <li><a href="#" title="">EUR</a></li>
                <li><a href="#" title="">TRY</a></li>
                <li><a href="#" title="">DEM</a></li>
            </ul>
        </div><!--magazi-language end-->
        <div class="magazi-cntct-details">
            <h3>Contact Details</h3>
            <ul class="margin-bottom-50">
                <li>
                    <div class="magazi-cn-img">
                        <img src="assets/img/cn-icon1.png" alt="">
                    </div>
                    <div class="magazi-cn-info">
                        <span>420 Woodland Avenue, New Orleans, Louisiana, United States</span>
                    </div>
                </li>
                <li>
                    <div class="magazi-cn-img">
                        <img src="assets/img/cn-icon2.png" alt="">
                    </div>
                    <div class="magazi-cn-info">
                        <span>985-692-7078</span>
                    </div>
                </li>
                <li>
                    <div class="magazi-cn-img">
                        <img src="assets/img/cn-icon3.png" alt="">
                    </div>
                    <div class="magazi-cn-info">
                        <span>support@magazi.com</span>
                    </div>
                </li>
                <li>
                    <div class="magazi-cn-img">
                        <img src="assets/img/cn-icon4.png" alt="">
                    </div>
                    <div class="magazi-cn-info">
                        <span>985-692-7078</span>
                    </div>
                </li>
            </ul>
        </div><!--magazi-cntct-details end-->
        <div class="magazi-follow-us">
            <h3>Follow Us</h3>
            <ul>
                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div><!--magazi-follow-us end-->
    </div><!--magazi-right-menu end-->
    <div class="magazi-right-menu left">
        <a href="#" title="" class="close-right-menu"><img src="assets/img/close2.png" alt=""></a>
        <div class="magazi-language margin-bottom-70">
            <h3>Language</h3>
            <ul>
                <li class="active"><a href="#" title="">English</a></li>
                <li><a href="#" title="">French</a></li>
                <li><a href="#" title="">Turkish</a></li>
                <li><a href="#" title="">German</a></li>
            </ul>
        </div><!--magazi-language end-->
        <div class="magazi-language margin-bottom-70">
            <h3>Currency</h3>
            <ul>
                <li class="active"><a href="#" title="">GBP</a></li>
                <li><a href="#" title="">EUR</a></li>
                <li><a href="#" title="">TRY</a></li>
                <li><a href="#" title="">DEM</a></li>
            </ul>
        </div><!--magazi-language end-->
        <div class="magazi-cntct-details">
            <h3>Contact Details</h3>
            <ul class="margin-bottom-50">
                <li>
                    <div class="magazi-cn-img">
                        <img src="assets/img/cn-icon1.png" alt="">
                    </div>
                    <div class="magazi-cn-info">
                        <span>420 Woodland Avenue, New Orleans, Louisiana, United States</span>
                    </div>
                </li>
                <li>
                    <div class="magazi-cn-img">
                        <img src="assets/img/cn-icon2.png" alt="">
                    </div>
                    <div class="magazi-cn-info">
                        <span>985-692-7078</span>
                    </div>
                </li>
                <li>
                    <div class="magazi-cn-img">
                        <img src="assets/img/cn-icon3.png" alt="">
                    </div>
                    <div class="magazi-cn-info">
                        <span>support@magazi.com</span>
                    </div>
                </li>
                <li>
                    <div class="magazi-cn-img">
                        <img src="assets/img/cn-icon4.png" alt="">
                    </div>
                    <div class="magazi-cn-info">
                        <span>985-692-7078</span>
                    </div>
                </li>
            </ul>
        </div><!--magazi-cntct-details end-->
        <div class="magazi-follow-us">
            <h3>Follow Us</h3>
            <ul>
                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div><!--magazi-follow-us end-->
    </div><!--magazi-right-menu end-->
    <div class="magazi-cart-menu">
        <a href="#" title="" class="close-right-menu"><img src="assets/img/close2.png" alt=""></a>
        <div class="magazi-menu-cart-items">
            <h3>Cart Items</h3>
            <div class="magazi-mn-cart-item margin-bottom-50">
                <img src="assets/img/cart-item1.jpg" alt="">
                <div class="magazi-cart-itm-details">
                    <h5>Lady Blue Handbag <span>[x2]</span></h5>
                    <span>$150,00</span>
                </div><!--magazi-cart-itm-details end-->
                <a href="#" title=""><i class="fa fa-trash-o"></i></a>
            </div><!--magazi-mn-cart-item end-->
            <div class="magazi-mn-cart-item">
                <img src="assets/img/cart-item2.jpg" alt="">
                <div class="magazi-cart-itm-details">
                    <h5>Perfume for Men<span>[x1]</span></h5>
                    <span>$500,00</span>
                </div><!--magazi-cart-itm-details end-->
                <a href="#" title=""><i class="fa fa-trash-o"></i></a>
            </div><!--magazi-mn-cart-item end-->
        </div><!--magazi-menu-cart-items end-->
        <div class="magazi-cart-amount">
            <div class="magazi-total-amount margin-bottom-50">
                <h4>Subtotal</h4>
                <span class="amnt">$800,00</span>
            </div><!--magazi-total-amount end-->
            <div class="magazi-cart-sbmt-btns">
                <ul>
                    <li><a href="#" title="">View Cart</a></li>
                    <li><a href="#" title="">Checkout</a></li>
                </ul>
            </div><!--magazi-cart-sbmt-btns end-->
        </div><!--magazi-cart-amount end-->
    </div><!--magazi-cart-menu end-->
    <div class="magazi-wishlist-menu">
        <a href="#" title="" class="close-right-menu"><img src="assets/img/close2.png" alt=""></a>
        <div class="magazi-menu-cart-items">
            <h3>Wishlist Items</h3>
            <div class="magazi-mn-cart-item margin-bottom-50">
                <img src="assets/img/cart-item1.jpg" alt="">
                <div class="magazi-cart-itm-details">
                    <h5>Lady Blue Handbag <span>[x2]</span></h5>
                    <span>$150,00</span>
                </div><!--magazi-cart-itm-details end-->
                <a href="#" title=""><i class="fa fa-trash-o"></i></a>
            </div><!--magazi-mn-cart-item end-->
            <div class="magazi-mn-cart-item">
                <img src="assets/img/cart-item2.jpg" alt="">
                <div class="magazi-cart-itm-details">
                    <h5>Perfume for Men<span>[x1]</span></h5>
                    <span>$500,00</span>
                </div><!--magazi-cart-itm-details end-->
                <a href="#" title=""><i class="fa fa-trash-o"></i></a>
            </div><!--magazi-mn-cart-item end-->
        </div><!--magazi-menu-cart-items end-->
        <div class="magazi-cart-amount">
            <div class="magazi-total-amount margin-bottom-50">
                <h4>Subtotal</h4>
                <span class="amnt">$800,00</span>
            </div><!--magazi-total-amount end-->
            <div class="magazi-cart-sbmt-btns">
                <ul>
                    <li><a href="#" title="">To Shop</a></li>
                    <li><a href="#" title="">Add to Cart</a></li>
                </ul>
            </div><!--magazi-cart-sbmt-btns end-->
        </div><!--magazi-cart-amount end-->
    </div><!--magazi-cart-menu end-->

    <div class="modal"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "website/assets/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/assets/lib/slick/slick.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/jquery.themepunch.tools.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/jquery.themepunch.revolution.min.js" %}"></script>

    <script type="text/javascript" src="{% static "website/revolution/js/revolution.extension.actions.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/revolution.extension.carousel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/revolution.extension.kenburn.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/revolution.extension.layeranimation.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/revolution.extension.migration.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/revolution.extension.navigation.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/revolution.extension.parallax.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/revolution.extension.slideanims.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/revolution.extension.video.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/revolution/js/revolution.initialize2.js" %}"></script>

    <script src="{% static "website/assets/js/custom.js" %}" type="text/javascript"></script>
    <script src="{% static "website/assets/js/web3/main.js" %}" type="text/javascript"></script>
{#    <script src="{% static "website/assets/js/web3/adminAddNewPlayer.js" %}" type="text/javascript"></script>#}
    <script src="{% static "website/assets/js/web3/contractInstance.js" %}" type="text/javascript"></script>
    <script src="{% static "website/assets/js/web3/buyCard.js" %}" type="text/javascript"></script>
</body>
</html>
