{% extends 'website/base.html' %}

{% load staticfiles %}
{% load custom_tags %}

{% block content %}

    <main>
        <div class="magazi-pages-links margin-bottom-80 padding-top-60">
            <div class="container">
                <ul>
                    <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
                    <li><span>Marketplace</span></li>
                    <li><a href="{% url text_p|lower %}" title="">{{ text_p }}</a></li>
                    <li><a href="{% url text_s|lower item_id=item.id %}" title="">{{ item.name }}</a></li>
                </ul>
            </div>
        </div>

        <form id="item_bought_form" action="{% url 'success' %}" method="post">
            {% csrf_token %}
            {{ buy_form.as_p }}
        </form>

        <div class="magazi-product-complete-dt">
            <div class="container">
                <div class="row">
                    {% if item.image %}
                        <div class="col-md-7">
                            <div class="magazi-product-pics">
                                <div class="pro-large-preview pull-right">
                                    <div class="slider-for">
                                        <div class="pro-large-img">
                                            <img src="{{ item.image.url }}" alt="pro-img1">
                                        </div>
                                    </div><!--slider for end-->
                                </div><!--pro-large-preview end-->
                            </div><!---magazi-product-pics end-->
                        </div>
                    {% endif %}
                    <div class="col-md-5">
                        <div class="magazi-data-details">
                            <h2>{{ item.name }}</h2>
                            <span>{{ item.last_bid }}</span>&nbsp;ETH
                            <p class="margin-bottom-0">Transactions:&nbsp;<span>{{ item.transactions }}</span></p>
                            <p class="margin-bottom-50">Owner:&nbsp;<span>{{ item.owner }}</span> </p>
                            <div class="handler-cart">
                                <div class="add-to-cart">
                                    {% if user.is_authenticated %}
                                        <a href="#" id="buy_now{{ item.id }}" title="" class="adding-cart">Buy Now</a>
                                    {% else %}
                                        <a href="{% url 'login' %}" title="" class="adding-cart">Login to Buy Now</a>
                                    {% endif %}
                                </div><!--add-to-cart end-->
                            </div>
                        </div><!--magazi-data-details end-->
                    </div>
                </div>
            </div>
        </div><!--magazi-product-complete-dt end-->

        <div class="modal fade" id="metamask_download_modal{{ item.id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create your trading account</h4>
                    </div>
                    <div class="modal-body">
                        <p>You'll need a safe place to store all of your Contract Cards! The perfect place is in a secure wallet like MetaMask.</p>
                        <a href="https://metamask.io" target="_blank" title="Install Metamask" rel="noopener noreferrer" style="width: 100%; display: inline-block;">
                            <img src="{% static 'website/assets/img/metamask-download.png' %}" alt="Metamask download">
                        </a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="metamask_downloaded_modal{{ item.id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create your trading account</h4>
                    </div>
                    <div class="modal-body">
                        <p>The current buying price for this contract is {{ item.last_bid }}ETH.</p>
                        <p>If someone decides to snatch the contract away from you, you will be paid {{ item.last_bid|multiply:multiplier }}ETH</p>
                        <p>Transactions on the blockChain take time to process. By the time you buy this contract, it's price may already be higher than is shown on the card and your transaction will fail.</p>
                        <a href="javascript:buyCard({{ item.eth_id }},{{ item.last_bid }},'{{ eth_address }}');" id="metamask_pay" target="_blank" rel="noopener noreferrer" style="width: 100%; display: inline-block;">
                            <img width="300" height="50" src="{% static 'website/assets/img/metamask-pay.png' %}" alt="Metamask download">
                        </a>
                        <i>If someone else outbid you during this time, your ETH will be refunded.</i>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="magazi-details-tab margin-top-100">
            <div class="container">
                <div class="magazi-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                        <li role="presentation"><a href="#size" aria-controls="size" role="tab" data-toggle="tab">Transactions</a></li>
                      </ul>
                </div><!--magazi-tabs end-->
                <div class="magazi-tabs-details">
                     <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="description">
                            <div class="description-details">
                                <h3>{{ text_s }} details</h3>
                                <p class="margin-bottom-100">{{ item.description }}</p>
                            </div><!--description-details end-->
                        </div><!--description end-->
                        <div role="tabpanel" class="tab-pane" id="size">
                            <div class="description-details">
                                <h3>Item details</h3>
                                <p class="margin-bottom-100">This green bedroom lamp has been designed to suit your needs. It is one of the best lamp on the market and can </p>
                            </div><!--description-details end-->
                        </div>
                      </div>
                </div><!--magazi-tabs-details end-->
            </div>
        </div><!--magazi-details-tab end-->
    </main>

{% endblock %}