{% extends 'website/base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- start main-->
    <main>

        <div class="magazi-pages-links bd-bm padding-bottom-60 padding-top-60">
            <div class="container">
                <div class="magazi-pgg-links">
                    <h2>Login</h2>
                    <ul>
                        <li><a href="#" title="">Home</a></li>
                        <li><span>Login</span></li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="magazi-login-register-forms padding-bottom-100">
            <div class="container">
                <div class="magazi-forms">
                    <div class="magazi-main-form current" id="login-tab">
                        <form class="padding-bottom-75" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <input class="margin-bottom-50" type="text" name="username" required id="id_username" placeholder="Username">
                            <input class="margin-bottom-40" type="password" name="password" required id="id_password" placeholder="Password">
                            <button type="submit" class="send-btn">Login</button>
                        </form>
                        <a class="from-instruct" href="#">Forgot Password?</a>
                    </div>
                </div><!--magazi-forms end-->
            </div>
        </div><!--magazi-login-register-forms end-->


        <div class="magazi-subscribe text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Newsletter Subscription</h3>
                        <form class="magazi-sub-form">
                            <input type="email" class="form-control" name="email" placeholder="Enter your email" />
                            <button type="submit" class="magazi-sub-btn">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <!-- end main-->
{% endblock %}